.microshoft{
    padding:100px 100px;
}
.mic1{
    height:100px; 
    width:250px;
    display:flex;
    margin:5px 0 0 0;
}
.red{
    height:100px;
    width:50%;
    background-color:#F35325;
    margin:0 3px;
    border-radius:3px
}
.green{
    height:100px;
    width:50%;
    margin:0 3px;
    border-radius:3px;
    background-color:#81BC06;
}
.mic2{
    height:100px;
    width:250px;
    display: flex;
    margin:5px 0 0 0;
}
.sky{
    height: 100px;
    width:50%;
    margin:0 3px;
    border-radius: 5px;
    background-color:#05A6F0;
}
.yellow{
    height: 100px;
    width:50%;
    margin:0 3px;
    border-radius:5px;
    background-color:#F7B408;
}